<div class="panel panel-primary">
  <div class="panel-heading">
      {{ recipe.title }}
  </div>
  <div class="panel-body">
    <img class="image-responsive img-thumbnail" [src]="recipe.imageURL" [alt]="recipe.title" style="max-height: 250px">
    <hr>
    <p>{{ recipe.description }}</p>
    <hr>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient.name }}<span class="badge">{{ingredient.amount}}</span>
      </li>
    </ul>
  </div>
</div>