<div class="panel panel-primary">
  <div class="panel-heading">
      {{ recipe.title }}
  </div>
  <div class="panel-body">
    <img class="image-responsive img-thumbnail" [src]="recipe.imageURL" [alt]="recipe.title" style="max-height: 250px">
    <hr>
    <p class="text-info">{{ recipe.description }}</p>
    <hr>
    <h3 class="text-muted">Ingredients</h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
          <span class="badge pull-left" [style.backgroundColor]="'#337ab7'">{{ingredient.amount}}</span> {{ ingredient.name }}
      </li>
    </ul>
  </div>
</div>